* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background :  #f4f6f7 ;
}
.error{
    color: red;
}
.bd-footer{
    
    background :  #f4f6f7 ; 
  
}

/* --------- */
/* NAWIGACJA */
/* --------- */
nav {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-toggler{
    font-size: 3rem;
}
.navbar-brand{
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: none;
    pointer-events: none;
}
/* --------- */
/*   HEADER  */
/* --------- */
.display-4 
{
	margin-left: auto ;
	margin-right: auto;
    margin-top: 100px;
    
}
 
.dispaly-5
{
	margin-left:auto ;
	margin-right: auto;
    margin-top: 30px;
    text-align: justify;
    
	
}
.register-box{
    margin-top: 10rem;
}
/* --------- */
/*   Login  */
/* --------- */
.white{
    color:#000;
    background-color:#fff;
}
.panel {
    margin-top: 15rem;
    padding: 2.2rem;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	border-radius: 0.5rem;

}
.Site-title{
    margin-top: 10rem;
    font-weight: bold;
}
.panel-heading{
    margin-top: 0.5rem;
    
}
.bg-registration {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2b4b90;
    *background-color: #133783;
    background-image: -moz-linear-gradient(top, #3b5998, #133783);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
    background-image: -webkit-linear-gradient(top, #3b5998, #133783);
    background-image: -o-linear-gradient(top, #3b5998, #133783);
    background-image: linear-gradient(to bottom, #3b5998, #133783);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .bg-registration,
    .bg-registration:focus,
    .bg-registration:active,
    .bg-registration.active,
    .bg-registration.disabled,
    .bg-registration[disabled] {
        color: #ffffff;
        background-color: #133783 !important;
        *background-color: #102e6d !important;
    }

    .btn-facebook:active,
    .btn-facebook.active {
        background-color: #0d2456 \9 !important;
    }
.col-sm-6{
    margin-top: 10rem;
    background :  #f4f6f7 ;
}
.jumbotron{
    background :  #f4f6f7 ;
}
    

.form-title{
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.buttons-login{
    margin-top: 2rem;
    
}

.form-control{
    font-size: 1.8rem;
    background-color : #f8f9f9;
    border: 2px solid #ddd;
    
}
.form-control:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #9ddb9d;
	background-color: #f8f9f9;
	color: black;
}
.btn{
    margin-top: 1rem;
    font-size: 1.6rem;
    
}
#success_message{ display: none;}

/* --------- */
/*   add-expense  */
/* --------- */
.input-group-addon{
    font-size: 1.6rem;
    width: 6rem;
    background-color: green;
    color:white
}
.well {
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	border-radius: 0.5rem;

}
/* --------- */
/*   balance  */
/* --------- */
.incomes-info{
    border-bottom: black;
}
.panel-info{
    
    margin-top: 1rem;
}


/* --------- */
/*   home  */
/* --------- */
.card-title {

    font-size: 3.6rem;
    
    font-weight: bold;
}
.card-body{
    font-size: 2.2rem;
} 
/* --------- */
/*   modal  */
/* --------- */
.form-control-modal{
    font-size: 1.8rem;
    background-color : #f8f9f9;
    border: 2px solid #ddd;
    
}
.form-control-modal:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #9ddb9d;
	background-color: #f8f9f9;
	color: black;
}

